.skills {
    margin: 0 20px;
    padding: 20px;
}

.skillIcons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    padding: 20px;
    border-radius: 30px;
    background-color:var(--bg-color-1);
}

.icon {
    margin: 25px;
}

.icon > svg {
    font-size: 50px;
}